/cover.html
/cover.lcov
/cover.txt
/internal/.git-toplevel
/internal/.version
/internal/grpc/proto/*.pb.go
/internal/host/agent_server_http_linux_*_gz.go
/internal/host/agent_server_http/agent_server_http_linux_*
/internal/host/agent_server_http/agent_server_http_linux_*.gz
/resonance.*.*